body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: darkslategray;
}

.container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    text: bold;
    text-align: center;
}

.card {
    width: 25%;
    border-radius: 15px;
    border-style: solid;
    border-color: dodgerblue;
    border-width: 5px;
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
    box-shadow: 10px 10px;  
    text-align: center;
}

.title {
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
    text-align: center;
}

.bio {
    text-align: justify;
}

#availablity {
    color: yellow;
    background-color: darkgray;
}

.section2 .section3 {
    text: bold;
}

img {
    height: 100px;
}